.DS_Store
*.o
.personalTODO
src/*.o
libs/SDL2-2.0.8
libs/freetype-2.9
libs/SDL2_ttf-2.0.15
libs/installed_libs
!libs/installed_libs/DontRemoveMe
libft/libft.a
libft/**.o
lua-5.3.6/install/
lua-5.3.6/src/liblua.a
lua-5.3.6/src/lua
lua-5.3.6/src/luac
mapfile1
callgrind.out*
DoomNukem