.DS_Store
*.o
.personalTODO
src/*.o
SDL2-2.0.8
freetype-2.9
SDL2_ttf-2.0.15
libs/installed_libs
libft/libft.a
libft/**.o
lua-5.3.6/install/
lua-5.3.6/src/liblua.a
lua-5.3.6/src/lua
lua-5.3.6/src/luac
mapfile1
callgrind.out*
DoomNukem