.DS_Store
*.o
.personalTODO
src/*.o
SDL_built/*
SDL_built/**
!SDL_built/DontRemoveMe
SDL-release-2.0.8/build/*
!SDL-release-2.0.8/build/DontRemoveMe
freetype_built/*
freetype_built/**
!freetype_built/DontRemoveMe
freetype-2.9/builds/*
!freetype-2.9/builds/DontRemoveMe
freetype-2.9/objs/*
!freetype-2.9/objs/DontRemoveMe
SDL2_ttf_built/*
SDL2_ttf_built/**
!SDL2_ttf_built/DontRemoveMe
libft/libft.a
libft/**.o
lua-5.3.6/install/
lua-5.3.6/src/liblua.a
lua-5.3.6/src/lua
lua-5.3.6/src/luac
mapfile1
callgrind.out*
DoomNukem